.SidebarChannel > h4 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  cursor: pointer;
  background-color: #2f3135;
  color: gray;
}
.SidebarChannel:hover > h4 {
  color: white;
  background-color: #40464b;
}
.sidebarChannel_hash {
  font-size: 30px;
  padding: 8px;
}
.sidebar_voice,
.sidebar_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid gray;
}
.sidebar_voiceInfo {
  flex: 1;
  padding: 10px;
}
.sidebar_voiceIcon {
  color: #4fb185;
}
.sidebar_voiceInfo > h3 {
  color: #4fb185;
}
.sidebar_voiceInfo > p {
  font-size: smaller;
}
.sidebar_voiceIcons > .MuiSvgIcon-root {
  padding: 10px;
}
.sidebar_profileInfo {
  flex: 1;
  padding: 10px;
}
.sidebar_profileInfo > h3 {
  color: white;
}
.sidebar_profileIcons > .MuiSvgIcon-root {
  padding: 10px;
}
